[submodule "ui/.config/awesome/lain"]
	path = ui/.config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "ui/.dynamic-colors"]
	path = ui/.dynamic-colors
	url = https://github.com/hellricer/dynamic-colors
