[submodule "shells/.zsh/antigen"]
	path = shells/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "Xdefaults/.dynamic-colors"]
	path = Xdefaults/.dynamic-colors
	url = https://github.com/hellricer/dynamic-colors
[submodule "awesome/.config/awesome/handy"]
	path = awesome/.config/awesome/handy
	url = https://github.com/crater2150/awesome-handy
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
