[user]
    name = Robert Siska
    email = xxx
[diff]
    external = ~/.local/bin/git_diff_wrapper
[pager]
    diff =
[alias]
    lpo = log --pretty=oneline --abbrev-commit --graph --decorate
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    st = status
    co = checkout
    info = config --get remote.origin.url
[core]
    editor = vim
[color]
    ui = true
